<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.Support.Pipelines.HttpRequest.ItemResolver, Sitecore.Support.218684</patch:attribute>
        </processor>
      </httpRequestBegin>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <getItem>
            <processor type="Sitecore.Pipelines.ItemProvider.GetItem.EnforceVersionPresence, Sitecore.Kernel">
              <patch:attribute name="type">Sitecore.Support.Pipelines.ItemProvider.GetItem.EnforceVersionPresence, Sitecore.Support.218684</patch:attribute>
            </processor>
          </getItem>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>